[submodule "include/bonsai_debug"]
	path = external/bonsai_debug
	url = ../bonsai_debug.git
[submodule "include/bonsai_stdlib"]
	path = external/bonsai_stdlib
	url = ../bonsai_stdlib.git
[submodule "scripts"]
	path = scripts
	url = ../bonsai_build_scripts.git
