name: CI

on:
  push:
    branches: [ "master", "develop" ]
  pull_request:
    branches: [ "master", "develop" ]

jobs:
  build-ubuntu-20:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Install Deps
      run: sudo apt update && sudo apt install freeglut3-dev libx11-dev clang-15
    - name: Build
      run: ./make.sh
      
  build-ubuntu-22:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Install Deps
      run: sudo apt update && sudo apt install freeglut3-dev libx11-dev clang-15
    - name: Build
      run: ./make.sh

  build-windows:
    runs-on: windows-latest
    steps:
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64
        version: 12.2.0
    - uses: actions/checkout@v3
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Build
      shell: bash
      run: ./make.sh

